@page "/Produtos"
@using DotNet001Shared;
@*@using DotNet001Shared.Models;*@
@using DotNet001API.Models;
@using Interfaces;
@using System.Diagnostics;
@inject IWebServiceAPI WebServiceAPI
@inject NavigationManager NavigationManager

@if (ProductsData is not null && ProductsData.Any())
{
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in ProductsData)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => DeleteProduct(product.Id)">Deletar</button>
                        <button class="btn btn-primary" @onclick="() => EditProduct(product.Id)">Editar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h2>Criar novo produto</h2>

<EditForm Model="@NewProduct" OnValidSubmit="CreateNewProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Nome:</label>
        <InputText id="name" class="form-control" @bind-Value="@NewProduct.Name" />
    </div>

    <div class="form-group">
        <label for="price">Preço:</label>
        <InputNumber id="price" class="form-control" @bind-Value="@NewProduct.Price" step="0.01" />
    </div>

    <div class="form-group">
        <label for="description">Descrição:</label>
        <InputTextArea id="description" class="form-control" @bind-Value="@NewProduct.Description" />
    </div>

    <button type="submit" class="btn btn-primary">Criar</button>
</EditForm>

@code {
    List<Product> ProductsData { get; set; } = new();
    Product NewProduct { get; set; } = new Product();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await WebServiceAPI.GetProducts();
            ProductsData = response.Where(p => !p.IsDeleted).ToList();
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex);
            throw;
        }
    }

    private async Task CreateNewProduct()
    {
        try
        {
            var response = await WebServiceAPI.CreateProduct(NewProduct);
            ProductsData.Add(response);
            NewProduct = new Product();
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex);
            throw;
        }
    }

    private async Task DeleteProduct(int id)
    {
        try
        {
            await WebServiceAPI.DeleteProduct(id);
            ProductsData.RemoveAll(p => p.Id == id);
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex);
            throw;
        }
    }
    private void EditProduct(int id)
    {
        NavigationManager.NavigateTo($"/EditarProduto/{id}");
    }
}